@mixin code-theme-dark {

  code {
    .c, .ch, .cd, .cm, .cpf, .c1, .cs {
      color: #888992;
      font-style: italic;
    }
    .err {
      color: #960050;
      background-color: #1e0010;
    }
    .gi {
      color: #ffffff;
      background-color: #324932;
    }
    .gd {
      color: #ffffff;
      background-color: #493131;
    }
    .ge {
      color: #000000;
      font-style: italic;
    }
    .gr {
      color: #aa0000;
    }
    .gt {
      color: #aa0000;
    }
    .gh {
      color: #999999;
    }
    .go {
      color: #888888;
    }
    .gp {
      color: #555555;
    }
    .gs {
      font-weight: bold;
    }
    .gu {
      color: #aaaaaa;
    }
    .k, .kv {
      color: #968dff;
    }
    .kc {
      color: #66d9ef;
    }
    .kd {
      color: #ff705f;
    }
    .kp {
      color: #66d9ef;
    }
    .kr {
      color: #74d8db;
    }
    .kt {
      color: #66d9ef;
    }
    .kn {
      color: #f92672;
    }
    .o, .ow {
      color: #d4d4d4;
    }
    .mf {
      color: #ae81ff;
    }
    .mh {
      color: #ae81ff;
    }
    .il {
      color: #ae81ff;
    }
    .mi {
      color: #ae81ff;
    }
    .mo {
      color: #ae81ff;
    }
    .m, .mb, .mx {
      color: #ae81ff;
    }
    .se {
      color: #ae81ff;
    }
    .sa {
      color: #66d9ef;
    }
    .sb, .sc, .sd, .s2, .sh, .si, .sx, .sr, .s1, .ss, .s, .dl {
      color: #90d34d;
    }
    .na {
      color: #79c4f8;
    }
    .nc {
      color: #a6e22e;
    }
    .nd {
      color: #e66969;
    }
    .ne {
      color: #a6e22e;
    }
    .nf, .fm {
      color: #a6e22e;
    }
    .no {
      color: #66d9ef;
    }
    .bp {
      color: #f8f8f2;
    }
    .nb {
      color: #88a3ff;
    }
    .ni {
      color: #f8f8f2;
    }
    .nn {
      color: #f8f8f2;
    }
    .vc {
      color: #f8f8f2;
    }
    .vg {
      color: #f8f8f2;
    }
    .vi {
      color: #f8f8f2;
    }
    .nv, .vm {
      color: #f8f8f2;
    }
    .w {
      color: #f8f8f2;
    }
    .nl {
      color: #f8f8f2;
    }
    .nt {
      color: #de8751;
    }
    .nx {
      color: #e4cfa1;
    }
  }

}