@mixin code-theme-light {

  code {
    .w {
      color: #586e75;
    }
    .err {
      color: #002b36;
      background-color: #dc322f;
    }
    .c, .ch, .cd, .cm, .cpf, .c1, .cs {
      color: #7a7f91;
      font-style: italic;
    }
    .cp {
      color: #b54500;
    }
    .nt {
      color: #b54500;
    }
    .o, .ow {
      color: #93a1a1;
    }
    .p, .pi {
      color: #93a1a1;
    }
    .gi {
      color: #859900;
    }
    .gd {
      color: #dc322f;
    }
    .gh {
      color: #268bd2;
      background-color: #002b36;
      font-weight: bold;
    }
    .k, .kn, .kp, .kv {
      color: #6c71c4;
    }
    .kr {
      color: #00989e;
    }
    .kc {
      color: #cb4b16;
    }
    .kt {
      color: #cb4b16;
    }
    .kd {
      color: #cb4b16;
    }
    .s, .sb, .sc, .dl, .sd, .s2, .sh, .sx, .s1 {
      color: #3e7c00;
    }
    .sa {
      color: #6c71c4;
    }
    .sr {
      color: #2aa198;
    }
    .si {
      color: #d33682;
    }
    .se {
      color: #d33682;
    }
    .nd {
      color: #cb1b1b;
    }
    .nn {
      color: #b58900;
    }
    .nb {
      color: #1c50ff;
    }
    .nc {
      color: #b58900;
    }
    .no {
      color: #b58900;
    }
    .na {
      color: #268bd2;
    }
    .nx {
      color: #8b3a2c;
    }
    .m, .mb, .mf, .mh, .mi, .il, .mo, .mx {
      color: #859900;
    }
    .ss {
      color: #859900;
    }
  }
}