.chapter-select {
  display: flex;
  justify-content: space-between;
  margin: var(--spacing-unit) 0px 0px 0px;
}

  .chapter-select-button {
    position: relative;
    top: 0px;
    display: flex;
    flex-direction: column;
    width: 48%;
    box-sizing: border-box;
    padding: 12px;
    background-color: var(--background-color-2);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.0705882353);
    border-radius: 10px;
    color: unset;
    text-decoration: none !important;
    transition: 0.1s ease top, 0.1s ease box-shadow;
  }
  .chapter-select-button:hover {
    top: -2px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.0705882353);
  }

    .chapter-select-button-label {
      color: #9f9f9f;
      font-size: 14px;
    }

    .chapter-select-button-content {
      text-transform: uppercase;
      font-weight: 600;
      margin: 0px 0px 0px 5px;
    }