.notice {
  display: flex;
  background-color: #e2eeff;
  margin: 0px 0px 30px 0px;
  overflow: hidden;
  border-radius: 5px;

  .notice-left {
    display: flex;
    align-items: center;
    padding: 0px 5px;
    background-color: #a5c5e4;
  }

  .notice-right {
    padding: 20px;
    font-size: 14px;
    line-height: 1.8;

    h1, h2, h3, h4, h5, h6,
    p, blockquote, pre,
    ul, ol, dl, figure {
      margin-bottom: calc(var(--spacing-unit) * .1);
    }

    .noticeversion-warning-link {
      // color: white;
    }
  }
}

:root[data-theme="dark"] {

  .notice {
    background-color: var(--background-color-2);
    color: var(--text-color);
  }

    .notice-left {
      background-color: #4f5963;
    }
}