.version-select {
  position: relative;
  cursor: pointer;
  font-size: 14px;
}

  .version-select-container {

  }

  .version-select-display {
    padding: 4px 10px;
    background-color: var(--brand-color);
    color: white;
    border-radius: 5px;
    user-select: none;
  }
  .version-select-display:hover {
    filter: brightness(1.05);
  }

    .version-select-display-label {
      font-size: 0.9em;
      font-weight: 500;
      color: #ffffffd6;
    }

    .version-select-display-version {
      font-weight: 500;
    }

    .version-select-display-arrow {
      height: 10px;
      width: 10px;
    }

  .version-select-dropdown-container {
    position: absolute;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.1s ease;
  }

    .version-select-dropdown {
      position: absolute;
      top: 5px;
      display: flex;
      flex-direction: column;
      padding: 8px;
      background-color: white;
      color: black;
      box-shadow: 0px 0px 10px #cacaca;
      border-radius: 5px;
      transition: top 0.1s ease;
    }

      .version-select-dropdown-entry {
        width: 100%;
        padding: 5px 12px;
        box-sizing: border-box;
        border-radius: 5px;
        white-space: nowrap;
        user-select: none;
      }
      .version-select-dropdown-entry:not(:last-of-type) {
        margin: 0px 0px 2px 0px;
      }
      .version-select-dropdown-entry.current {
        font-weight: 500;
        color: var(--brand-color);
      }
      .version-select-dropdown-entry:hover {
        background-color: var(--brand-color-faint);
      }