@import "./vars.scss";
@import "./code_themes/dark.scss";

// Dark mode
// ---------
$dm-text-color:               #d4d3df !default;
$dm-title-color:              #eee !default;
$dm-background-color-1:       #2b2b32 !default;
$dm-background-color-2:       #32343c !default;
$dm-background-color-code:    #343640 !default;
$dm-background-color-hover:   #dddddd0f !default;

$dm-link-base-color:       desaturate($brand-color, 12%) !default;
$dm-link-visited-color:    $dm-link-base-color !default;
$dm-link-hover-color:      $dm-text-color !default;

$dm-table-header-text-color:  $dm-text-color !default;
$dm-table-header-bg-color:    lighten($dm-background-color-1, 12%) !default;
$dm-table-zebra-color-1:      lighten($dm-background-color-1, 6%) !default;
$dm-table-zebra-color-2:      lighten($dm-background-color-1, 4%) !default;
$dm-table-border-color:     #00000014 !default;

@mixin darkmode-colors {
  --text-color: #{$dm-text-color};
  --title-color: #{$dm-title-color};
  --background-color-1: #{$dm-background-color-1};
  --background-color-2: #{$dm-background-color-2};
  --background-color-code: #{$dm-background-color-code};
  --background-color-hover: #{$dm-background-color-hover};

  --link-base-color: #{$dm-link-base-color};
  --link-visited-color: #{$dm-link-visited-color};
  --link-hover-color: #{$dm-link-hover-color};

  --table-header-text-color: #{$dm-table-header-text-color};
  --table-header-bg-color: #{$dm-table-header-bg-color};
  --table-zebra-color-1: #{$dm-table-zebra-color-1};
  --table-zebra-color-2: #{$dm-table-zebra-color-2};
  --table-border-color: #{$dm-table-border-color};

  @include code-theme-dark;
}