@import "./vars.scss";
@import "./code_themes/light.scss";

// Light mode
// ----------
$lm-text-color:               #444 !default;
$lm-title-color:              #222 !default;
$lm-background-color-1:       #f5f5f8 !default;
$lm-background-color-2:       white !default;
$lm-background-color-code:    white !default;
$lm-background-color-hover:   #00000008 !default;

$lm-link-base-color:       $brand-color !default;
$lm-link-visited-color:    lighten($lm-link-base-color, 5%) !default;
$lm-link-hover-color:      $lm-text-color !default;

$lm-table-header-text-color:  white !default;
$lm-table-header-bg-color:    #555561 !default;
$lm-table-zebra-color-1:        lighten($lm-background-color-1, 1%) !default;
$lm-table-zebra-color-2:        lighten($lm-background-color-1, 4%) !default;
$lm-table-border-color:       #00000026 !default;

@mixin lightmode-colors {
  --text-color: #{$lm-text-color};
  --title-color: #{$lm-title-color};
  --background-color-1: #{$lm-background-color-1};
  --background-color-2: #{$lm-background-color-2};
  --background-color-code: #{$lm-background-color-code};
  --background-color-hover: #{$lm-background-color-hover};

  --link-base-color: #{$lm-link-base-color};
  --link-visited-color: #{$lm-link-visited-color};
  --link-hover-color: #{$lm-link-hover-color};

  --table-header-text-color: #{$lm-table-header-text-color};
  --table-header-bg-color: #{$lm-table-header-bg-color};
  --table-zebra-color-1: #{$lm-table-zebra-color-1};
  --table-zebra-color-2: #{$lm-table-zebra-color-2};
  --table-border-color: #{$lm-table-border-color};

  @include code-theme-light;
}