// Brand color
$brand-color:           #d5339d !default;
$brand-color-secondary: #c92e2e !default;
$brand-color-faint:     transparentize($brand-color, 0.9) !default;
$brand-color-light:     lighten($brand-color, 38%) !default;
$brand-color-dark:      darken($brand-color, 15%) !default;
$brand-gradient:        linear-gradient(135deg, $brand-color 0%, $brand-color-secondary 100%);

// Breakpoints
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;

@mixin minWidth($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

@mixin minSm() {
  @include minWidth($sm) {
    @content;
  }
}

@mixin minMd() {
  @include minWidth($md) {
    @content;
  }
}

@mixin minLg() {
  @include minWidth($lg) {
    @content;
  }
}

@mixin minXl() {
  @include minWidth($xl) {
    @content;
  }
}

@mixin minXxl() {
  @include minWidth($xxl) {
    @content;
  }
}