// Brand color
$brand-color:           #d5339d !default;
$brand-color-secondary: #c92e2e !default;
$brand-color-faint:     transparentize($brand-color, 0.9) !default;
$brand-color-light:     lighten($brand-color, 38%) !default;
$brand-color-dark:      darken($brand-color, 15%) !default;

// Breakpoints
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;

@mixin minWidth($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}