<div class="ngcontenttest-component">
    <div class="ngcontenttest-component-first">
        <h1>First ng-content:</h1>
        <div class="ngcontenttest-component-first-container">
            <ng-content></ng-content>
        </div>
    </div>
    <div class="ngcontenttest-component-second">
        <h1>Second ng-content:</h1>
        <div class="ngcontenttest-component-second-container">
            <ng-content></ng-content>
        </div>
    </div>
    <div class="ngcontenttest-component-third">
        <h1>Third ng-content:</h1>
        <div class="ngcontenttest-component-third-container">
            <ng-content></ng-content>
        </div>
    </div>
</div>