@import "../vars.scss";

.content {
  display: flex;
  min-height: calc(100vh - var(--header-height));
}

  #wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    padding-right: calc(var(--spacing-unit) * .5);
    padding-left: calc(var(--spacing-unit) * .5);
    padding-top: calc(var(--spacing-unit) * .5);
    padding-bottom: var(--spacing-unit);
    transition: filter 0.15s ease;

    @include minMd() {
      max-width: 1200px;
      padding-right: var(--spacing-unit);
      padding-left: var(--spacing-unit);
      padding-top: var(--spacing-unit);
      padding-bottom: calc(2* var(--spacing-unit));
    }

    @include minLg() {
      width: calc(100% - 250px);
    }

    @include minXl() {
      width: calc(100% - 300px);
    }
  }
  #wrapper.locked {
    filter: blur(3px);
  }

    .article {
      width: 100%;
      line-height: 2;

      @include minXl() {
        width: calc(100% - 350px);
        margin: 0px 100px 0px 0px;
      }
    }

      .article .badges img {
        border-radius: 0px;
      }

      .article img {
        border-radius: 10px;
        box-shadow: 0px 0px 10px #00000012;
      }

      /**
        * Headings
        */
      .article h1, .article h2, .article h3, .article h4 {
        color: var(--title-color);
      }

      .article h1 {
        font-size: 25px;
        font-weight: 600;
        line-height: 1.6;
        color: var(--brand-color);
        scroll-margin-top: calc(var(--header-height) + 20px);
        // background: -webkit-linear-gradient(var(--brand-color), var(--brand-color-secondary));
        // -webkit-background-clip: text;
        // -webkit-text-fill-color: transparent;

        @include minSm() {
          font-size: 30px;
        }
      }
      .article h2 {
        display: flex;
        align-items: center;
        margin-left: 0px;
        font-size: 22px;
        line-height: 1.6;
        font-weight: 600;
        scroll-margin-top: calc(var(--header-height) + 20px);

        @include minSm() {
          margin-left: -20px;
          font-size: 28px;
        }
      }
      .article h2:before {
        display: block;
        content: "";
        height: 18px;
        width: 8px;
        margin: 0px 15px 0px 0px;
        background-color: var(--brand-color);
        // background: linear-gradient(135deg, var(--brand-color) 0%, var(--brand-color-secondary) 100%);

        @include minSm() {
          font-size: margin 0px 20px 0px 0px;
        }
      }
      .article h3 {
        font-size: 18px;
        font-weight: 600;
        line-height: 1.6;
        scroll-margin-top: calc(var(--header-height) + 20px);

        @include minSm() {
          font-size: 22px;
        }
      }
      .article h4 {
        font-size: 15px;
        font-weight: 400;
        line-height: 1.6;
        scroll-margin-top: calc(var(--header-height) + 20px);

        @include minSm() {
          font-size: 18px;
        }
      }

      // Lists
      .article li:not(:last-of-type) {
        margin: 0px 0px 3px 0px;
      }

    .article-sidebar {
      display: none;
      width: 250px;
      padding: 40px 0px 0px 0px;

      @include minXl() {
        display: block;
      }
    }

      .article-sidebar-inner {
        position: sticky;
        top: calc(var(--header-height) + 30px);
      }

      .article-toc-wrapper {
        margin: 0px 0px 30px 0px;
      }

      .article-edit {
        display: flex;
        align-items: center;
        font-size: 13px;
        cursor: pointer;
      }

        .article-edit-img {
          height: 14px;
          margin: 0px 8px 0px 0px;
        }