.footer {
  background-color: #313238;
  color: white;
}

  .footer-top {
    display: flex;
    justify-content: center;
    padding: 20px;

    @include minSm() {
      padding: 35px 30px 20px 30px;
    }
  }

    .footer-wrapper {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      max-width: 700px;

      @include minMd() {
        justify-content: space-between;
      }

      @include minLg() {
        max-width: 1000px;
      }
    }

      .footer-col {
        padding: 0px 10px;

        @include minSm() {
          padding: 0px;
        }
      }
      .footer-col:not(:first-of-type):not(:last-of-type) {
        padding: 0px 100px;
      }

      .footer-col.brand {
        display: flex;
        align-items: center;
        flex-shrink: 0;
      }

        .footer-brand {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
        }

          .footer-brand-main {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-decoration: none !important;

            @include minLg() {
              flex-direction: row;
              margin: 0px 0px 15px 0px;
            }
          }

            .footer-logo {
              display: block;
              height: 70px;

              @include minLg() {
                height: 50px;
              }
            }

            .footer-name {
              margin: 20px 0px 0px 0px;
              font-size: 16px;
              color: white;
              font-family: "Roboto Mono", monospace;

              @include minLg() {
                margin: 0px 0px 0px 20px; 
                font-size: 18px;      
              }
            }

          .footer-brand-desc {
            display: none;
            color: #a2a2a2;
            font-size: 14px;

            @include minLg() {
              display: block;
            }
          }

        .footer-title {
          display: flex;
          align-items: center;
          text-transform: uppercase;
          margin: 0px 0px 15px 0px;
        }

          .footer-title-img {
            display: 16px;
            width: 16px;
            margin: 0px 10px 0px 0px;
          }

        .footer-text {
          color: #a2a2a2;
          font-size: 14px;
          line-height: 1.8;
        }
        .footer-text:not(:last-of-type) {
          margin: 0px 0px 10px 0px;
        }

      .footer-col.contributing {
        display: none;
        
        @include minMd() {
          display: block;
        }
      }

      .footer-col.links {
        flex-shrink: 0;
      }
            
        .footer-links {
        }
        .footer-links > *:not(:last-child) {
          margin: 0px 0px 5px 0px;
        }

          .footer-link {
            display: flex;
            align-items: center;
            color: white !important;
            font-size: 14px;

            span {
              white-space: nowrap;
            }
          }

            .footer-link-icon {
              margin: 0px 6px 0px 0px;

              img {
                height: 12px;
                width: 12px;
              }
            }

  .footer-bottom {
    display: flex;
    background-color: #222224;
    width: 100%;
    justify-content: center;
    padding: 5px 30px;
    box-sizing: border-box;
    font-size: 11px;
    color: darkgrey;
    font-family: 'Roboto Mono';
  }

    .copyright-title {

    }

    .copyright-desc {

    }

      .copyright-desc-span {
        display: none;

        @include minMd() {
          display: inline;
        }
      }