.sidebar {
  width: 300px;
  background-color: var(--background-color-2);
  box-shadow: -3px 0 8px 0 rgb(0 0 0 / 50%);
}

  .sidebar-scroll {
    position: sticky;
    top: var(--header-height);
    max-height: calc(100vh - var(--header-height));
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    overflow-y: auto;
    visibility: hidden;
  }
  .sidebar-scroll:hover {
    visibility: visible;
  }
  .sidebar-scroll::-webkit-scrollbar-thumb {
    background-color: color-mix(in srgb, black, transparent 90%);
  }

    .sidebar-content {
      visibility: visible;
    }

      .sidebar-section {
        margin: 0px 0px 10px 0px;
      }

        .sidebar-section a {
          color: unset;
          text-decoration: none;
        }

        .sidebar-title {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 0px;
          font-size: 13px;
          font-weight: 600;
          text-transform: uppercase;
        }
        .sidebar-section.active .sidebar-title {
          color: var(--brand-color);
        }

          .sidebar-link {
            display: block;
            padding: 10px 10px;
            border-radius: 10px;
          }
          .sidebar-title .sidebar-link {
            width: 100%;
          }
          .sidebar-link:hover {
            background-color: var(--background-color-hover);
          }
          :root[data-theme="dark"] .sidebar-link:hover {
            background-color: #ffffff0a;
          }

          .sidebar-title-toggle {
            padding: 8px 14px;
            margin: 0px 0px 0px 10px;
            border-radius: 10px;
            cursor: pointer;
            user-select: none;
          }
          .sidebar-title-toggle:hover {
            background-color: #00000008;
          }

            .sidebar-title-toggle-icon {
              width: 15px;
              filter: brightness(0.6);
              transition: transform 0.2s ease;
            }
            .sidebar-section.toggled .sidebar-title-toggle-icon {
              transform: rotate(180deg);
            }

        .sidebar-ul {
          margin: 0px 0px 0px 15px;
          list-style: none;
          height: 0px;
          overflow: hidden;
        }
        .sidebar-section.toggled .sidebar-ul {
          height: auto;
        }

          .sidebar-li {
          }

            .sidebar-subtitle {
              margin: 0px;
              font-size: 13px;
            }
            .sidebar-li.active .sidebar-subtitle {
              color: var(--brand-color);
            }
