.sidebar {
  position: fixed;
  width: 0px;
  height: 100%;
  background-color: var(--background-color-2);
  box-shadow: -3px 0 8px 0 rgb(0 0 0 / 50%);
  z-index: 10;
  transition: 0.15s width ease;
  overflow: hidden;

  @include minLg() {
    position: initial;
    width: auto;
    height: auto;
    overflow: initial;
  }
}

.sidebar.toggled {
  width: 300px;
}

  .sidebar-scroll {
    top: var(--header-height);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    height: calc(100vh - var(--header-height));
    width: 300px;
    overflow-y: auto;
      
    @include minLg() {
      position: sticky;
      width: 250px;
      visibility: hidden;
    }

    @include minXl() {
      width: 300px;
    }
  }
  @include minLg() {
    .sidebar-scroll:hover {
      visibility: visible;
    }
  }
  
  .sidebar-scroll::-webkit-scrollbar-thumb {
    background-color: color-mix(in srgb, black, transparent 90%);
  }

    .sidebar-content {
      padding: 20px;
      visibility: visible;
    }

      .sidebar-section {
        margin: 0px 0px 10px 0px;
      }

        .sidebar-section a {
          color: unset;
          text-decoration: none;
        }

        .sidebar-title {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 0px;
          font-size: 13px;
          font-weight: 600;
          text-transform: uppercase;
        }
        .sidebar-section.active .sidebar-title {
          color: var(--brand-color);
        }

          .sidebar-link {
            display: flex;
            align-items: center;
            padding: 10px 10px;
            border-radius: 10px;
          }
          .sidebar-title .sidebar-link {
            width: 100%;
          }
          .sidebar-link:hover {
            background-color: var(--background-color-hover);
          }
          :root[data-theme="dark"] .sidebar-link:hover {
            background-color: #ffffff0a;
          }

            .sidebar-title-icon {
              height: 16px;
              width: 16px;
              margin: 0px 8px 0px 0px;
              opacity: 0.7;
            }
            :root[data-theme="dark"] .sidebar-title-icon {
              filter: invert(1);
            }

          .sidebar-title-toggle {
            padding: 8px 14px;
            margin: 0px 0px 0px 10px;
            border-radius: 10px;
            cursor: pointer;
            user-select: none;
          }
          .sidebar-title-toggle:hover {
            background-color: #00000008;
          }

            .sidebar-title-toggle-icon {
              width: 15px;
              filter: brightness(0.6);
              transition: transform 0.2s ease;
            }
            .sidebar-section.toggled .sidebar-title-toggle-icon {
              transform: rotate(180deg);
            }

        .sidebar-ul {
          margin: 0px 0px 0px 15px;
          list-style: none;
          height: 0px;
          overflow: hidden;
        }
        .sidebar-section.toggled .sidebar-ul {
          height: auto;
        }

          .sidebar-li {
          }

            .sidebar-subtitle {
              margin: 0px;
              font-size: 13px;
              font-weight: normal;
            }
            .sidebar-li.active .sidebar-subtitle {
              color: var(--brand-color);
            }

    .sidebar-buttons {
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 30px 0px 0px 0px;
      visibility: visible;
      background-color: #34363c;
      font-size: 0.9rem;
    }
    :root[data-theme=dark] .sidebar-buttons {
      background-color: #202228;
    }

      .sidebar-button {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 8px 0px;
        box-sizing: border-box;
      }

        .sidebar-button-icon {
          margin: 0px 8px 0px 0px;
          color: var(--brand-color);
          transition: transform 0.1s ease;
        }
        .sidebar-button:hover .sidebar-button-icon {
          transform: scale(1.2);
        }

        .sidebar-button-text {
          color: white !important;
        }
